body
{
	font-family: serif;
	color: #FFF;
	font-family: monospace;
}



a
{
	text-decoration: none !important;
}


.navbar
{
	background-color: #58006E !important;
	
}

.wholebody
{
	background-color: #58006E ;
	padding: 0px;
	margin: 0px; 
}

.nav-link
{
	margin-right: 20px;
	color: #fff !important;
}

.firstView
{
	width: 100%;
	height: 100vh;
	margin:  0; 
	padding: 0;

}

.firstViewContainer
{
	background: 	rgb(75,0,130);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.khaltiTitle
{
	font-size: 30px;
}
.khaltiInfo
{
	margin-top: 40px;
	font-size: 18px;
	color: #bfbfbf;
}

.getKhalti
{
	margin-top: 40px;
	font-size: 20px;
	color: #bfbfbf;

}

legend
{
	margin: 0px;
}

.signUpForm
{
	border-radius: 25px;
}

.inputFormItems
{
	margin-top: 10px;
	border: 1px #C8C8C8	 solid; 
	border-radius: 3px;
}

.form-control 
{
	border: none;
}

.secondView
{
	background-color: #FFF;
	color: #000;
}

.working
{
	margin-top: 40px;
	color: #58006E ;
	margin-bottom: 40px;
	text-align: center;

}


.separator
{
	text-align: center;
}


.circle1
{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #58006E;
	position: relative;
}

.line1
{
	width: 5px;
	height: 300px;
	background: #bfbfbf;
	position: absolute;
	padding: 0;
	margin-top: 40px;
}

.circle2
{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #58006E;
	position: absolute;
	margin-top: 300px;
}

.line2
{
	width: 5px;
	height: 300px;
	background: #bfbfbf;
	padding: 0;
	position: absolute;
	margin-top: 340px;
}


.circle3
{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #58006E;
	position: absolute;
	margin-top: 640px;
}

.colLast
{
	margin-top: 80px;
}

.lastViewName
{
	list-style-type: none; 
	margin-top: 20px; 
	color: #313131;
}

.listItem
{
	margin-top: 15px;
}

.listItem2
{
	margin-top: 4px;

}

.separatorLast
{
	margin-left: 30px;
	height: 200px;
	width: 3px;
	background: #FFF;
	margin-top: 95px;
}

.smallcircle
{
	border-radius: 50%;
	width: 20px;
	background: #FFF;
	height: 20px;
}